{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/giphy.css' %}">
<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>David Durden</h1>
					<h2>Full Stack Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:david.durden.tx.com">david.durden.tx@gmail.com</a></h3>
						<h3>(214) - 533-7754</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								implementing the best technology for the best people.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Back End</h2>
									<p>Create logical and mantainable code to work across software
									and departments.	</p>
								</div>

								<div class="talent">
									<h2>UX Front End</h2>
									<p>Work with the products audience to create an interface that
									is intuitive and fun.	 </p>
								</div>

								<div class="talent">
									<h2>Git Integration</h2>
									<p>Proficient at colaborating with other developers via version
									control service GitHub.		</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>SQL</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Jquery</li>
								<li>Django</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>ReactJS</li>
								<li>Windows</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>DLF</h2>
								<h3>Property Manager</h3>
								<h4>2017-Present</h4>
								<p>Managing single-family and multi-family properties across DFW,
								responsibilities including the rental, colleciton of payments,
							  the performance and arangement for repairs.</p>
							</div>

							<div class="job">
								<h2>Q Car Wash</h2>
								<h3> Assistant General Manager </h3>
								<h4>May 2018 - November 2018</h4>
								<p>Progressively reconceptualize multifunctional "outside the box"
									 thinking through inexpensive methods of empowerment.
									 Compellingly morph extensive niche markets with mission-critical
									  ideas. Phosfluorescently deliver bricks-and-clicks strategic
										 theme areas rather than scalable benefits. </p>
							</div>

							<div class="job">
								<h2> T-Mobile </h2>
								<h3> Sales </h3>
								<h4>August 2017 - November 2017</h4>
								<p>Intrinsicly transform flexible manufactured products without
									 excellent intellectual capital. Energistically evisculate
									 orthogonal architectures through covalent action items.
									  Assertively incentivize sticky platforms without synergistic
										materials. </p>
							</div>


							<div class="job last">
								<h2> DPSG </h2>
								<h3> Merchandiser </h3>
								<h4>2016-2017</h4>
								<p>Globally re-engineer cross-media schemas through viral methods
									 of empowerment. Proactively grow long-term high-impact human
									 capital and highly efficient innovation. Intrinsicly iterate
									 excellent e-tailers with timely e-markets.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>A&M Kingsville - Kingsville, Texas</h2>
							<h3>Web Development Bootcamp; <strong>4.0 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>
				David Durden &mdash; <a href="mailto:david.durden.tx@gmail.com">
				david.durden.tx@gmail.com.com</a> &mdash; (214) - 533-7754
			</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->

{% endblock %}
